{% extends "partial/MainLayout.twig" %}

{% block title %}
    Edit Sheet
{% endblock %}

{% block section %}
    <h1>Edit Sheet</h1>

    <form accept-charset="UTF-8" action="{{ currentUrl() }}" method="post">
        <div>
            <label for="title">Title</label>
            <input id="title" name="title" value="{{ sheet.title }}"/>
        </div>

        <div>
            <label for="title">Content</label>
        </div>
        <textarea cols="100" id="content" name="content" rows="20">{{ sheet.content }}</textarea>

        <div>
            <input type="submit" value="Lưu">
        </div>
        {% include "partial/CsrfForm.twig" %}
    </form>
    <a href="{{ urlFor('home') }}">Home</a>
{% endblock %}
