{% extends "partial/MainLayout.twig" %}

{% block title %}
    View Sheet
{% endblock %}

{% block section %}
    <h1>{{ sheet.title }}</h1>
    <div>Tags:
        {% for tag in tags %}
            <span>{{ tag }}</span>
        {% endfor %}
    </div>
    <div>
        {{ sheet.content | markdown }}
    </div>
{% endblock %}
