<html>
    <head>
        <title>Knowledge Sharing Bulletin</title>
    </head>

    <body>
        <h1>Login</h1>

        <form accept-charset="UTF-8" action="/auth/login" method="post">
            <h3>
                <label for="loginName">Username</label>
            </h3>
            <input autocomplete="off" id="loginName" name="loginName" type="text">

            <h3>
                <label for="loginPassword">Password</label>
            </h3>
            <input id="loginPassword" name="loginPassword" type="text">

            <div>
                <input type="submit" value="Login">
            </div>
        </form>
        <a href="/auth/register">Register</a>
    </body>
</html>
