{% extends "partial/MainLayout.twig" %}

{% block title %}
    Login
{% endblock %}

{% block section %}
    <h1>Login</h1>

    <form accept-charset="UTF-8" action="{{ urlFor('auth.login') }}" method="post">
        <h3>
            <label for="email">Email</label>
        </h3>
        <input autocomplete="off" id="email" name="email" type="text">

        <h3>
            <label for="loginPassword">Password</label>
        </h3>
        <input autocomplete="off" id="loginPassword" name="loginPassword" type="text">

        <div>
            <input type="submit" value="Login">
        </div>
    </form>
    <a href="{{ urlFor('auth.register') }}">Register</a>
{% endblock %}
