<html>
    <head>
        <title>Knowledge Sharing Bulletin</title>
    </head>

    <body>
        <h1>Trang chủ</h1>
        {% if user %}
            <a href="/auth/logout">Logout</a><br>
            <h2>
                Xin chào
                {{ user.userName }}!
            </h2>
        {% else %}
            <a href="/auth/login">Login</a><br>
            <a href="/auth/register">Register</a>
        {% endif %}
    </body>
</html>
